@import 'globals/index';

html {
  height: 100vh;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}